.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/modules.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/modules.xml

.idea/.name
